{% extends 'base.html' %}

{% block content %}
{% load static %}
    
    
    
    <style>
        img:hover{
                transform: scale(1.5);
                transition: 15 ease;
            }
            .pic{
                overflow: hidden;
            }
            .pic1{
                overflow: hidden;
            }
            .pic2{
                overflow: hidden;
            }
        .pic3{
            overflow: hidden;
        }
            
        
        
        
       
    </style>
    
     <div class="container-fluid" style="background:url({%static 'images/aboutus.jpg' %});background-repeat: no-repeat;height:750px; background-size: cover; margin-top: 100px; opacity: 0.9">
        <div class="row" style="background-color: rgba(0,0,0,0.40);padding:245px 0px;">
            
            <div class="con">
            
            
            <h1 style="color: white; font-family: Denk one; font-size: 60px; margin-left: 500px; margin-top: 110px;"> We Envision A Nation <br> Empowered To Defeat Cancer</h1>
            
            
            </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
         </div>
         
         
         
         
         
         
         
         </div>
    
    
    
    
    
    <div class="material">
        <div class="col-md-12"> <h1 style="text-align: center;font-size: 30px; margin-top: 10%; color: gray;"> <b>What We Do?</b></h1>
              <p style="color: gray; font-size: 25px; text-align: center; margin-left: 25%; margin-right: 25%; font-family: Righteous;" > We aspire to help each and every individual to fight against cancer. Whether a  victim or a survivor, all of you can do your bit. Being Citizens of a developing country, we should spread as much awareness as we can. People don't really like to discuss ailments that scare them, Naturally!! BUT, it is really utterly important to <b style="color: palevioletred;">TALK </b>about it. <br> <br>
             
                  Futhermore, a small <b style="color:palevioletred;">DONATION</b> goes a long way. So donate whatever you can. Believe me, someway, somebody is going to thank you for the donation that you think is small. <br> <br>
             
             
                  Lastly, <b style="color: palevioletred;">REGULAR CHECKUPS </b>! This is something we'all shrink away from. But when talking about cancer, an early detection can make a world of difference.So make sure you visit the hospital every month for a full body checkup.</p>
             
             
             
             
             
             </div>
         
         
         
    </div>
    <div class="container-fluid" style="background-color: floralwhite; height: 500px;">
    
    <div class="pic-content"> <h1 style="text-align: center; font-family: Righteous; margin-top: 5%; color: gray;">  Areas We Stress Upon!</h1></div>
    
    <div class="row" style="margin-top: 5%; margin-left: 20%; margin-right: 15%; margin-top: 5%;">
        
        
       
        <div class="col-md-4 pic">
             <img src="{%static "images/awa.png" %}" style="width:100px;"> <br> <br> <h3 style="color: gray; font-family: Righteous;">Awareness </h3>
            </div> 
        
        <div class="col-md-4 pic1">
            <img src="{%static "images/pred.png" %}" style="width: 100px;"> <br> <br>  <h3 style="color: gray; font-family: Righteous;">Early Detection </h3>
        </div>
        
        <div class="col-md-4 pic2">
            <img src="{%static "images/treat.png" %}" style="width: 100px;"> <br> <br>  <h3 style="color: gray; font-family: Righteous;">Right Treatment </h3>
        </div>
    
    
    
    
    
    
    
    
    
    
    </div>
    </div>
    
    
    <h1 style="text-align: center; margin-top: 3%; color: gray; font-family: Righteous;"> Services We  Have To Offer</h1>
    
    <div class="row" style="margin-right: 5%; margin-left: 6%; margin-top: 3%; margin-bottom: 6%;">
    
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
          <div class="pic"><img src="{%static "images/predict.jpg_fit=scale" %}" class="card-img-top" alt="..."> </div>
  <div class="card-body">
    <h5 class="card-title" style="font-family: Righteous;">The Predictor</h5>
    <p class="card-text">Early detection leads to quick treatment. So Predict away!</p>
    <a href="#" class="btn btn-primary">Get Prediction</a>
  </div>
</div>  
        
        
        
    </div>
        
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="pic1"><img src="{%static "images/docs.jpg" %}" class="card-img-top" alt="..." style="width: 320px; height: 195px;"> </div>
  <div class="card-body">
    <h5 class="card-title"  style="font-family: Righteous;">The Doctors</h5>
    <p class="card-text">We get you the opportunity to consult with nation's best cancer doctors.</p>
    <a href="#" class="btn btn-primary">See Doctors</a>
  </div>
</div>  
        
    </div>
    
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="pic2"> <img src="{%static "images/hosp.jpg" %}" class="card-img-top" alt="..." style="height: 195px;"> </div>
  <div class="card-body">
    <h5 class="card-title"  style="font-family: Righteous;">The Hospitals</h5>
    <p class="card-text">We bring to you the hospitals with best success rates.</p>
    <a href="#" class="btn btn-primary">Take a look</a>
  </div>
</div>  
        
        
        
    </div>
        
    <div class="col-md-3">
        
        <div class="card" style="width: 18rem;">
            <div class="pic3"> <img src="{%static "images/ngo.png" %}" class="card-img-top" alt="..." style="height: 205px;"> </div>
  <div class="card-body">
    <h5 class="card-title" style="font-family: Righteous;" >The NGOS</h5>
    <p class="card-text">Lend a helping hand to someone in dire need of it. </p>
    <a href="#" class="btn btn-primary"> See NGOs</a>
  </div>
</div>  
        
        
        
        
    </div>
    
    
    
    
    </div>
         
         
         

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    {% endblock %}
    
    </body>
</html>
    