
{%load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project ADMIN - PANEL </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <!-- CSS files -->
    <link rel="stylesheet" href="{%static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{%static "icofont/icofont.css" %}">
    <link rel="stylesheet" href="{%static "sidebar/style.violet.css" %}">
    <link rel="shortcut icon" href=" {%static "images/favicon.png" %}">
      <link href='https://fonts.googleapis.com/css?family=Denk One' rel='stylesheet'>
<style>
    body{
        font-family: denk one;
    }
    h1{
        font-family: denk one;
    }
      
      
      </style>
      
      
  </head>
  <body> 
   
      
    

          
          <div class="container-fluid" style="background-image: url({%static 'images/b1.jpg' %}); height: 550px; background-repeat: no-repeat; background-size: cover; opacity: 0.6">
          
          
          <p style="text-align: center; font-size: 80px;">BREAST CANCER- PREVENTIONS</p>
          
          
          
          
          
 
          </div>
      
      <div class="" style="background-color: whitesmoke;">
      
      <h1 style="text-align: center; font-size: 35px; margin-top: 80px; color: dimgrey;">
          How can you prevent Breast cancer? </h1><br> <br> <br>
          
          
         <h3 style="text-align: center; font-size: 20px; color: dimgrey;">
           
      There is no sure way to prevent breast cancer. But there are things you can do that might lower your risk,<br> such as changing risk factors that are under your control.
             
             
             
             
             
             
             
          
 <h1 style="text-align: center; font-size: 35px;color: dimgrey;">         
          
     Let us see what we're talking about </h1><br>
             
             
             <h1 style="text-align: center; font-size: 35px; margin-top: 60px; color: dimgrey;">         
          
     RISK FACTORS </h1><br>
             
             
             
             
             <h3 style="text-align: center; font-size: 20px; color: dimgrey;">
  
     A risk factor is anything that increases your chances of getting a disease, such as cancer. <br>  But having a risk factor, or even many, does not mean that you are sure to get the disease.  <br> <br> While you can’t change some breast cancer risk factors, <br>family history and aging, for example—there are some risk factors that you can control.

 <br> <br>
                 
                 
    Certain breast cancer risk factors are related to personal behaviors, such as diet and exercise. <br>  Other lifestyle-related risk factors include decisions about having children and <br>  taking medicines that contain hormones.
          
                 
                 <br> Below, I'm enlisting some risk factors, if you abstain from these, <br> It may reduce your risk of getting breast cancer.
          
          
          
             </h3> <br> <br>
             
             
             
       <h1 style="text-align: center; font-size: 35px; color: dimgrey; margin-top: 50px;">         
          
    1)  ALCOHOL CONSUMPTION </h1><br>
             
             
             
             
             <h3 style="text-align: center; font-size: 20px; color: dimgrey;">
  
     Drinking alcohol is clearly linked to an increased risk of breast cancer.<br> The risk increases with the amount of alcohol consumed.  <br>Women who have 1 alcoholic drink a day have a small (about 7% to 10%) increase <br> in risk compared with non-drinkers, <br>  while women who have 2 to 3 drinks <br>a day have about a 20% higher risk than non-drinkers.
          
          
          
          
             </h3>
                
             
             
              <h1 style="text-align: center; font-size: 35px; color: dimgrey; margin-top: 30px;">         
          
    2)  OBESITY </h1><br>
             
             
             
             
             <h3 style="text-align: center; font-size: 20px; color: dimgrey;">
  
     Having more fat tissue after menopause can raise estrogen levels and <br>increase your chance of getting breast cancer. <br>Also, women who are overweight tend to have higher blood insulin levels. <br>Higher insulin levels have been linked to some cancers, including breast cancer.
          
          
          
             </h3> <br> <br>
             
      <h1 style="text-align: center; font-size: 35px; color: dimgrey; margin-top: 30px;">         
          
    3)  PHYSICAL INACTIVITY </h1><br>
             
             
             
             
             <h3 style="text-align: center; font-size: 20px; color: dimgrey;">
  
     Evidence is growing that regular physical activity reduces breast cancer risk, <br> especially in women past menopause. The main question is how much activity is needed. <br> Some studies have found that even as little as a couple of hours a week <br> might be helpful, although more seems to be better. <br> <br>

Exactly how physical activity might reduce breast cancer risk isn’t clear, <br> but it may be due to its effects on body weight, inflammation, hormones, and energy balance.
                 
                 
                 
                 
                 
                 
          
          
             </h3> <br> <br>       
             
             
             
             
    
          
             
             
             
             
             
             
             
             
             
             
             
          
          
          
          
                  
          

          
          
          
          
          
          
          
          
          
          
          
          
          
          
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      </div>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    <!-- JavaScript files-->
    <script src="{%static "js/jquery-3.4.1.min.js" %}"></script>
    <script src="{%static "js/bootstrap.bundle.min.js" %}"></script>
    <script src="{%static "sidebar/front.js" %}"></script>
  </body>
</html>