{%load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project ADMIN - PANEL </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <!-- CSS files -->
    <link rel="stylesheet" href="{%static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{%static "icofont/icofont.css" %}">
    <link rel="stylesheet" href="{%static "sidebar/style.violet.css" %}">
    <link rel="shortcut icon" href=" {%static "images/favicon.png" %}">
      <link href='https://fonts.googleapis.com/css?family=Denk One' rel='stylesheet'>
 
<style>
    body{
        font-family: denk one;
    }
      
    h1{
        font-family: denk one;
    }
   
      
      </style>
      
      
  </head>
  <body> 
   
      
    

          
          <div class="container-fluid" style="background-image: url({%static 'images/b1.jpg' %}); height: 550px; background-repeat: no-repeat; background-size: cover; opacity: 0.6">
          
          
          <p style="text-align: center; font-size: 80px;">BREAST CANCER- OVERVIEW</p>
          
          
          
          
          
 
          </div>
      
      <div class="" style="background-color: whitesmoke;">
      
      <h1 style="text-align: center; font-size: 35px; margin-top: 80px; color: dimgrey;">
          What Is Breast Cancer? </h1><br> <br> <br>
          
          
         <h3 style="text-align: center; font-size: 20px; color: dimgrey;">
           
          
Breast cancer is a type of cancer that starts in the breast. Cancer starts when cells begin to grow out of control. <br> <br>

Breast cancer cells usually form a tumor that can often be seen on an x-ray or felt as a lump. Breast cancer occurs almost entirely in women, but men can get breast cancer, too.

          It’s important to understand that most breast lumps are benign and not cancer (malignant). Non-cancerous breast tumors are abnormal growths, but they do not spread outside of the breast.  <br> <br> <br>They are not life threatening, but some types of benign breast lumps can increase a woman's risk of getting breast cancer. <br>Any breast lump or change needs to be checked by a health care professional to determine if it is benign or malignant (cancer) and if it might affect your future cancer risk. <br> <br> </h3>

          
 <h1 style="text-align: center; font-size: 35px; margin-top: 60px; color: dimgrey;">         
          
     Where breast cancer starts?? </h1><br> <br> <br>
  
     
 <h3 style="text-align: center; font-size: 20px; color: dimgrey;">
               
     
Breast cancers can start from different parts of the breast.

Most breast cancers begin in the ducts that carry milk to the nipple.
Some start in the glands that make breast milk .
There are also other types of breast cancer that are less common like phyllodes tumor.<br> <br>
A small number of cancers start in other tissues in the breast. These cancers are called sarcomas and lymphomas and are not really thought of as breast cancers.
     Although many types of breast cancer can cause a lump in the breast, not all do. <br>  Many breast cancers are also found on screening mammograms, which can detect cancers at an earlier stage, often before they can be felt, and before symptoms develop. </h3>
          
          
          
          
          
   
          
          
          
          
          
          
          
          
          
          
          
          
          
          
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      </div>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    <!-- JavaScript files-->
    <script src="{%static "js/jquery-3.4.1.min.js" %}"></script>
    <script src="{%static "js/bootstrap.bundle.min.js" %}"></script>
    <script src="{%static "sidebar/front.js" %}"></script>
  </body>
</html>