
{%load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project DOCTORS - PANEL </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <!-- CSS files -->
    
      <link rel="stylesheet" href="{%static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{%static "icofont/icofont.css" %}">
    <link rel="stylesheet" href="{%static "sidebar/style.pink.css" %}">
    <link rel="shortcut icon" href=" {%static "images/favicon.png" %}">
      <link href='https://fonts.googleapis.com/css?family=Denk One' rel='stylesheet'>
      <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet'>
 
      
      
<style>
   
   label{
     font-size: 20px;
     font-family: righteous;
     color: palevioletred;
   }
      
    h5{
        font-family: Denk one;
    }
    p{
        font-family: Denk one;
    }
    .custom-form {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
     height: 300px;
    width: 700;
}   

    .change-password-box{
        	height: 420px;
    		width: 650px;
        	position: absolute;
    		top: 50%;
    		left: 50%;
    		transform: translate(-50%, -50%);
    		box-shadow: 20px 20px 10px #ccc;
    		text-align: center;
        border: 3px solid white;}
      
      </style>
      
      
  </head>
  <body> 
    <!-- navbar-->
    <header class="header">
      <nav class="navbar navbar-expand-lg px-4 py-2" style="background-color:pink;"><a href="#" class="sidebar-toggler text-black-500 mr-4 mr-lg-5 lead" style="color: palevioletred;"><i class="icofont icofont-medical-sign"></i> </a><a href="#" class="navbar-brand font-weight-bold text-uppercase text-base" style="color: palevioletred;"> DOCTOR  </a>
        <ul class="ml-auto d-flex align-items-center list-unstyled mb-0">
            
          <li class="nav-item dropdown ml-auto"><a id="userInfo" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><img src="{%static "images/main_ad.png" %}" alt="Admin" style="max-width: 3.5rem;" class="img-fluid rounded-circle shadow"></a>
            <div aria-labelledby="userInfo" class="dropdown-menu"><a href="#" class="dropdown-item"><strong class="d-block text-uppercase headings-font-family">Akanksha handa</strong><small></small></a>
              <div class="dropdown-divider"></div><a href="{% url 'doctorspanelmain' %}" class="dropdown-item">Dashboard</a>
              <div class="dropdown-divider"></div><a href="{% url 'login' %}" class="dropdown-item">Login</a>
            </div>
          </li>
        </ul>
      </nav>
    </header>
    <div class="d-flex align-items-stretch">
      <div id="sidebar" class="sidebar py-3" style="background-color:whitesmoke; background:rgb(250,218,231); font-family: righteous;">
        <div class="text-black-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">DASH <br>BOARD</div>
        <ul class="sidebar-menu list-unstyled">
            
             <li class="sidebar-list-item"><a href="#" data-toggle="collapse" data-target="#pages" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="icofont icofont-tools mr-3 text-gray"></i><span style="color: palevioletred;">My Account</span></a>
            <div id="pages" class="collapse">
              <ul class="sidebar-menu list-unstyled border-left border-primary border-solid">
                  <li class="sidebar-list-item"><a href="{% url 'mprofile' %}" class="sidebar-link text-muted pl-lg-5" style="color: palevioletred;"> <span style="color: palevioletred;">Profile </span></a></li>
                  <li class="sidebar-list-item"><a href="{% url 'editpro' %}" class="sidebar-link text-muted pl-lg-5"> <span style="color:palevioletred;">Edit profile </span></a></li>
                  
                     </ul>
            </div>
          </li>
            
          <li class="sidebar-list-item"><a href="{% url 'index' %}" class="sidebar-link text-muted"><i class="icofont icofont-home mr-3" style="color:gray;"></i><span style="color: palevioletred;">Home</span></a></li>
              
          </ul>
          
          
          
          <div class="text-black-400 text-uppercase font-weight-bold small headings-font-family"></div>
          <ul style="list-style-type: none" class="sidebar-menu list-unstyled">
    
              <li class="sidebar-list-item"><a href="{% url 'doctorsp' %}" class="sidebar-link text-muted"><i class="icofont icofont-leaf mr-3 text-gray"></i><span style="color: palevioletred;">Lung Cancer</span></a></li>
           
            <li class="sidebar-list-item"><a href="{% url 'breastcancerp' %}" class="sidebar-link text-muted"><i class="icofont icofont-ui-password mr-3 text-gray"></i><span style="color: palevioletred;">Breast Cancer</span></a></li>
            
            <li class="sidebar-list-item"><a href="{% url 'ccancerp' %}" class="sidebar-link text-muted"><i class="icofont icofont-logout mr-3 text-gray"></i><span style="color: palevioletred;">Cervical Cancer</span></a></li>
            
            <li class="sidebar-list-item"><a href="{% url 'doctors' %}" class="sidebar-link text-muted"><i class="icofont icofont-doctor mr-3 text-gray"></i><span style="color: palevioletred;">Doctors</span></a></li>
              
            <li class="sidebar-list-item"><a href="{% url 'hospitals' %}" class="sidebar-link text-muted"><i class="icofont icofont-hospital mr-3 text-gray"></i><span style="color: palevioletred;">Hospitals</span></a></li>
            
            <li class="sidebar-list-item"><a href="{% url 'NGO' %}" class="sidebar-link text-muted"><i class="icofont icofont-handshake-deal mr-3 text-gray"></i><span style="color: palevioletred;">Ngos</span></a></li>
            
            <li class="sidebar-list-item"><a href="{% url 'nnews' %}" class="sidebar-link text-muted"><i class="icofont icofont-news mr-3 text-gray"></i><span style="color: palevioletred;">News And Research</span></a></li>
         










            <li class="sidebar-list-item"><a href="{% url 'predict' %}" class="sidebar-link text-muted"><i class="icofont icofont-circuit mr-3 text-gray"></i><span style="color: palevioletred;">Go To Predictor</span></a></li>
            

          </ul>
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
        <div class="text-black-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">Your Queries</div>
        <ul class="sidebar-menu list-unstyled">
              <li class="sidebar-list-item"><a href="{% url 'helpands' %}" class="sidebar-link text-muted"><i class="icofont icofont-leaf mr-3 text-gray"></i><span style="color:palevioletred;">Help and Support</span></a></li>
           
            <li class="sidebar-list-item"><a href="{% url 'passchange' %}" class="sidebar-link text-muted"><i class="icofont icofont-ui-password mr-3 text-gray"></i><span style="color:palevioletred;">Change Password</span></a></li>
            
            <li class="sidebar-list-item"><a href="{% url 'log' %}" class="sidebar-link text-muted"><i class="icofont icofont-logout mr-3 text-gray"></i><span style="color: palevioletred;">LOGOUT</span></a></li>
            
            
            
        </ul>
      </div>
      <div class=" container-fluid page-holder w-100 d-flex position-relative">
          <div class="row w-100">
          <div class="title col-md-12 text-center ">
              <h1 class="title-text mt-3" style="font-size: 50px; font-family: denk one; color: palevioletred; ">BREAST CANCER PREDICTION</h1>
              
              </div>
              
              
              <form class=" custom-form  position-absolute" method="POST" action="">
                {% csrf_token %}
                  <div class="form-div d-flex mb-3"> <div> <label class="form-label col-2 text-center">radius_mean: </label> </div> <input type="number" class="form-control rounded-pill" name="r_mean" placeholder="Enter value" min="6" max="28" size="50">
                  </div>
                  <div class="form-div d-flex mb-3"> <div><label class="form-label  col-2 text-center">texture_mean: </label>  </div> <input type="number" class="form-control rounded-pill"  name="tx_mean" placeholder="Enter value" min="9" max="39" size="50"></div>
                   
                   <div class="form-div d-flex mb-4"> <div><label class="form-label  col-2 text-center">perimeter_mean:</label> </div>   <input type="number"class="form-control rounded-pill"   name="p_mean" placeholder="Enter value" min="43" max="189" size="60"> 
                  </div>
                  
                  <div class="form-div d-flex mb-4"> <div><label class="form-label  col-2 text-center">area_mean: </label> </div>  <input type="number"class="form-control rounded-pill"   name="ar_mean" placeholder="Enter value" min="143" max="2501" size="60"> 
                  </div>
                  
                  <div class="form-div d-flex mb-4"> <div> <label class="form-label  col-2 text-center">smoothness_mean: </label> </div>    <input type="number"class="form-control rounded-pill"   name="smo_mean" placeholder="Enter value" min="0.05" max="0.16" size="70"> 
                  </div>
                  
                  <div class="form-div d-flex mb-4"> <div><label class="form-label  col-2 text-center">compactness_mean: </label> </div>  <input type="number"class="form-control rounded-pill"   name="compact_mean" placeholder="Enter value" min="0.019" max="0.34" size="60"> 
                  </div>
                  
                  <div class="form-div d-flex mb-4"> <div><label class="form-label  col-2 text-center">concavity_mean: </label> </div>   <input type="number"class="form-control rounded-pill"   name="concavity_mean" placeholder="Enter value" min="0.0" max="0.42" size="60"> 
                  </div>
                  
                  <div class="form-div d-flex mb-4"> <div><label class="form-label  col-2 text-center">concave_points_mean:</label> </div>  <input type="number"class="form-control rounded-pill"   name="concavept_mean" placeholder="Enter value" min="0" max="0.20" size="60"> 
                  </div>
                  
                  <div class="form-div d-flex mb-4"> <div><label class="form-label  col-2 text-center">symmetry_mean: </label> </div>  <input type="number"class="form-control rounded-pill"   name="sym_mean" placeholder="Enter value" min="0.10" max="0.30" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <div> <label class="form-label  col-2 text-center">fractal_dimension_mean: </label> </div>  <input type="number"class="form-control rounded-pill"   name="fd_mean" placeholder="Enter value" min="0.049" max="0.097" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <div><label class="form-label  col-2 text-center">radius_se: </label> </div>  <input type="number"class="form-control rounded-pill"   name="r_se" placeholder="Enter value" min="0.1" max="2.8" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <div><label class="form-label  col-2 text-center">texture_se: </label> </div>  <input type="number"class="form-control rounded-pill"   name="tx_se" placeholder="Enter value" min="0.3" max="4.8" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <div><label class="form-label  col-2 text-center">perimeter_se: </label>  </div> <input type="number"class="form-control rounded-pill"   name="p_se" placeholder="Enter value" min="0.8" max="22" size="60"> 
                  </div>
                  
                  
                  
                  <div class="form-div d-flex mb-4"> <div><label class="form-label  col-2 text-center">area_se: </label> </div>  <input type="number"class="form-control rounded-pill"   name="a_se" placeholder="Enter value" min="6.8" max="542" size="60"> 
                  </div>
                  
                  
                  
                  <div class="form-div d-flex mb-4"> <div> <label class="form-label  col-2 text-center">smoothness_se: </label> </div>   <input type="number"class="form-control rounded-pill"   name="smo_se" placeholder="Enter value" min="43" max="189" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <div><label class="form-label  col-2 text-center">compactness_se: </label> </div>  <input type="number"class="form-control rounded-pill"   name="compact_se" placeholder="Enter value" min="0.002" max="0.14" size="60"> 
                  </div>
                  
                  <div class="form-div d-flex mb-4"> <div><label class="form-label  col-2 text-center">concavity_se: </label> </div>   <input type="number"class="form-control rounded-pill"   name="concavity_se" placeholder="Enter value" min="0.0" max="0.39" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <div> <label class="form-label  col-2 text-center">concave_points_se: </label>  </div> <input type="number"class="form-control rounded-pill"   name="concavept_se" placeholder="Enter value" min="0.0" max="0.053" size="60"> 
                  </div>
                  
                  <div class="form-div d-flex mb-4"> <div> <label class="form-label  col-2 text-center">symmetry_se: </label>  </div> <input type="number"class="form-control rounded-pill"   name="sym_se" placeholder="Enter value" min="0.0078" max="0.078" size="60"> 
                  </div>
                  
                  <div class="form-div d-flex mb-4"> <div> <label class="form-label  col-2 text-center">fractal_dimension_se: </label> </div>  <input type="number"class="form-control rounded-pill"   name="fd_se" placeholder="Enter value" min="0" max="0.03" size="60"> 
                  </div>
                  
                  <div class="form-div d-flex mb-4"> <div> <label class="form-label  col-2 text-center">radius_worst: </label> </div>  <input type="number"class="form-control rounded-pill"   name="r_worst" placeholder="Enter value" min="7.9" max="36" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <div><label class="form-label  col-2 text-center">texture_worst: </label> </div>  <input type="number"class="form-control rounded-pill"   name="tx_worst" placeholder="Enter value" min="12" max="49" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <div> <label class="form-label  col-2 text-center">perimeter_worst: </label> </div>  <input type="number"class="form-control rounded-pill"   name="p_worst" placeholder="Enter value" min="50" max="251" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <div><label class="form-label  col-2 text-center">area_worst: </label> </div>  <input type="number"class="form-control rounded-pill"   name="a_worst" placeholder="Enter value" min="185" max="4254" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <div><label class="form-label  col-2 text-center">smoothness_worst: </label> </div> <input type="number"class="form-control rounded-pill"   name="smo_worst" placeholder="Enter value" min="0.07" max="0.22" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <div><label class="form-label  col-2 text-center">compactness_worst: </label> </div> <input type="number"class="form-control rounded-pill"   name="compact_worst" placeholder="Enter value" min="0.02" max="1.0" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <div> <label class="form-label  col-2 text-center">concavity_worst: </label> </div>   <input type="number"class="form-control rounded-pill"   name="concavity_worst" placeholder="Enter value" min="0" max="1.2" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <div><label class="form-label  col-2 text-center">concave_points_worst: </label> </div>  <input type="number"class="form-control rounded-pill"   name="concavepts_worst" placeholder="Enter value" min="0" max="0.29" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <div><label class="form-label  col-2 text-center">symmetry_worst: </label> </div>  <input type="number"class="form-control rounded-pill"   name="sym_worst" placeholder="Enter value" min="0.15" max="0.66" size="60"> 
                  </div>
                  
                  <div class="form-div d-flex mb-4"> <div><label class="form-label  col-2 text-center">fractal_dimension_worst: </label> </div>  <input type="number"class="form-control rounded-pill"   name="fd_worst" placeholder="Enter value" min="0.05" max="0.20" size="60"> 
                  </div>
                  
                  
                  <button class="button btn-lg text-center ml-3" type="submit" style="background-color: palevioletred; color: white;"> SUBMIT</button>
                 
                  </form>
                         
          
          
        </div>
      </div>
      <script src="{%static "js/jquery-3.4.1.min.js" %}"></script>
      <script src="{%static "js/bootstrap.bundle.min.js" %}"></script>
      <script src="{%static "sidebar/front.js" %}"></script>
  
        
        
        
        
    </body>
</html>