
{% extends 'base.html' %}

{% block content %}
{% load static %}
    
    
        <div class="container-fluid" style="background-image: url({%static 'images/pdna.png' %});height: 650px;background-repeat: no-repeat;background-size: cover;">
            
        
        <div class="row">
            <div class="col-md-12"> <h1 style="margin-top:200px; margin-left: 50px; font-size: 100px;">BREAST CANCER</h1></div>
                       
            </div>
    
        
        </div>
        
        <div class="goog" style="background-image: url({%static 'images/back.jpg' %}); height: 950px; opacity: 0.6;">
            <h4 style="color: palevioletred; margin-left: 450px; margin-top: 150px; font-size: 40px;"> WHAT IS BREAST CANCER? </h4> <br>
            
             <div class="" style="font-size: 25px; color: palevioletred; font-family:righteous;">         
            
              Breast cancer is a type of cancer that starts in the breast. Cancer starts when cells begin to grow out of control. 

Breast cancer cells usually form a tumor that can often be seen on an x-ray or felt as a lump. Breast cancer occurs almost entirely in women, but men can get breast cancer, too.

It’s important to understand that most breast lumps are benign and not cancer (malignant). Non-cancerous breast tumors are abnormal growths, but they do not spread outside of the breast. They are not life threatening, but some types of benign breast lumps can increase a woman's risk of getting breast cancer. Any breast lump or change needs to be checked by a health care professional to determine if it is benign or malignant.  
                 
            </div>
            
            <div class="row" style="margin-left: 5%; margin-right: 5%;">
            <div class="col-md-4"style=" margin-top: 50px;">
                
                <div class="card" style="width: 25rem; height: 35rem;">
  
  <div class="card-body crd" style="font-family: righteous;">
    <h5 class="card-title" style="text-align: center; color:maroon;">SYMPTOMS</h5>
    <p class="card-text" style="color:black; font-family: righteous;"> 
      Symptoms of breast tumors vary from person to person. Some common, early warning signs of breast cancer include: <br>
<ul style="font-family:righteous">
    <li>Skin changes, such as swelling, redness, or other visible differences in one or both breasts</li>
    <li>An increase in size or change in shape of the breast(s) </li>
    <li>General pain in/on any part of the breast</li>
    <li>Lumps or nodes felt on or inside of the breast </li> </ul>
              
      Invasive breast cancer symptoms may include: <br>
      <br>
<ul style="font-family: righteous;">
<li>A lump or mass in the breast </li>
    <li>Swelling of all or part of the breast, even if no lump is felt</li>
    <li>Skin irritation or dimpling </li> </ul>
  
      </p>
     </div>
</div>
                
            </div>
                
                
                
                
                
                <div class="col-md-4" style="margin-top: 50px;">
                <div class="card" style="width: 25rem; height: 35rem;">
  
  <div class="card-body crd1" style="font-family: righteous;">
    <h5 class="card-title" style="text-align: center; color:maroon"> PREVENTIONS</h5>
    <p class="card-text">
        
        
       Research shows that lifestyle changes can decrease the risk of breast cancer, even in women at high risk. To lower your risk: <br>
<ul>
    <li>Limit alcohol: The more alcohol you drink, the greater your risk of developing breast cancer. The general recommendation is to limit yourself to less than one drink a day, as even small amounts increase risk.</li> <br>
    <li>Don't smoke: Evidence suggests a link between smoking and breast cancer risk.</li><br>
    <li>Control your weight :Being overweight or obese increases the risk of breast cancer. This is especially true if obesity occurs later in life, particularly after menopause.</li> <br>
    
        
        
      </ul>
        
        </p>
    
     </div>
</div>
                </div>
                
                
                <div class="col-md-4" style="margin-top: 50px;">
                 <div class="card" style="width: 25rem; height: 35rem;">
  
  <div class="card-body crd2" style="font-family: righteous;">
    <h5 class="card-title" style="text-align: center; color: maroon">TREATMENTS</h5>
    <p class="card-text">
      
      Some treatments remove or destroy the disease within the breast and nearby tissues, such as lymph nodes. These include:
<ul>
    <li>Surgery: Surgery to remove the whole breast, called a mastectomy, or to remove just the tumor called a lumpectomy </li>
    <li>Radiation therapy: It uses high-energy waves to kill cancer cells. </li>  

    <li>Chemotherapy: Chemo uses drugs to kill cancer cells. As these powerful medicines fight the disease, they also can cause side effects ike nausea, hair loss, early menopause, hot flashes, and fatigue. </li>

    <li>Hormone therapy uses drugs to prevent hormones, especially estrogen, from fueling the growth of breast cancer cells. </li>
        
      </ul>
      
      
      
      
      
      
      </p>
     </div>
</div>
                
                
                
                
                
                
                
                
                
                </div>
            
            
            
            
            
            
            
            
            
            
            </div>
            
            
            
            
            
            
            
        
        
        
        
        
        
        
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        </div>
    
    {% endblock %}
        
        
        
    
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
        
        <script src={%static "js/jquery-3.4.1.min.js" %}></script>
        <script src={%static "js/bootstrap.bundle.min.js" %}> </script>
        <script src={%static "js/front.js" %}></script>
    
    
    
    
    </body>






































</html>