{%load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project ADMIN - PANEL </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <!-- CSS files -->
    <link rel="stylesheet" href="{%static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{%static "icofont/icofont.css" %}">
    <link rel="stylesheet" href="{%static "sidebar/style.violet.css" %}">
    <link rel="shortcut icon" href=" {%static "images/favicon.png" %}">
      <link href='https://fonts.googleapis.com/css?family=Denk One' rel='stylesheet'>
<style>
    body{
        font-family: denk one;
    }
    h1{
        font-family: denk one;
    }
      
      
      </style>
      
      
  </head>
  <body> 
   
      
    

          
          <div class="container-fluid" style="background-image: url({%static 'images/cc.jpg' %}); height: 650px; background-repeat: no-repeat; background-size: cover; opacity: 0.8">
          
          
          <p style="text-align: center; font-size: 80px; color: lightslategrey;">CERIVAL CANCER- PREVENTIONS</p>
          
          
          
          
          
 
          </div>
      
      <div class="" style="background-color: whitesmoke;">
      
      <h1 style="text-align: center; font-size: 35px; margin-top: 80px; color: dimgrey;">
          How can you prevent Cervical cancer? </h1><br> <br> <br>
          
          
         
            
             
             <h1 style="text-align: center; font-size: 35px; margin-top: 60px; color: dimgrey;">         
          
    1)  BARRIER PROTECTION </h1><br>
             
             
             
             
             <h3 style="text-align: center; font-size: 20px; color: dimgrey;">
  
          Barrier protection or spermicidal gel use during sexual intercourse decreases, but does not eliminate risk of transmitting the infection, though condoms may protect against genital warts.They also provide protection against other sexually transmitted infections, such as HIV and Chlamydia, which are associated with greater risks of developing cervical cancer.            
                 
                
                 
                 
    
          
             </h3> <br> <br>
             
             
             
       <h1 style="text-align: center; font-size: 35px; color: dimgrey; margin-top: 50px;">         
          
    2)  SCREENING </h1><br>
             
             
             
             
             <h3 style="text-align: center; font-size: 20px; color: dimgrey;">
  
     
     Checking cervical cells with the Papanicolaou test (Pap test) for cervical pre-cancer has dramatically reduced the number of cases of, and mortality from, cervical cancer. Liquid-based cytology may reduced the number of inadequate samples. Pap test screening every three to five years with appropriate follow-up can reduce cervical cancer incidence up to 80%. Abnormal results may suggest the presence of precancerous changes, allowing examination and possible preventive treatment, known as colposcopy.            
                 
                 
                 <br> <br>
                 
                 
                 
      A number of recommended options exist for screening those 30 to 65. This includes cervical cytology every 3 years, HPV testing every 5 years, or HPV testing together with cytology every 5 years.Screening is not beneficial before age 25, as the rate of disease is low. Screening is not beneficial in women older than 60 years if they have a history of negative results.          
                 
                 
                 
                 
                 
                 
          
          
          
             </h3> <br> <br>
                
             
             
              <h1 style="text-align: center; font-size: 35px; color: dimgrey; margin-top: 40px;">         
          
    3)  REGULAR VACCINES </h1><br>
             
             
             
             
             <h3 style="text-align: center; font-size: 20px; color: dimgrey;">
  
     
            Three HPV vaccines reduce the risk of cancerous or precancerous changes of the cervix and perineum by about 93% and 62%, respectively. The vaccines are between 92% and 100% effective against HPV 16 and 18 up to at least 8 years.

HPV vaccines are typically given to age 9 to 26, as the vaccine is most effective if given before infection occurs. The duration of effectiveness and whether a booster will be needed is unknown. The high cost of this vaccine has been a cause for concern. Several countries have considered (or are considering) programs to fund HPV vaccination.
                 
                 
                 
                 
                 
                 
          
             </h3> <br> <br>
             
     
             
             
             
    
          
             
             
             
             
             
             
             
             
             
             
             
          
          
          
          
                  
          

          
          
          
          
          
          
          
          
          
          
          
          
          
          
      
      
      
      
      
      
      
      
      
      
      
      
      
          <br> <br>
      
      
      
      
      </div>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    <!-- JavaScript files-->
    <script src="{%static "js/jquery-3.4.1.min.js" %}"></script>
    <script src="{%static "js/bootstrap.bundle.min.js" %}"></script>
    <script src="{%static "sidebar/front.js" %}"></script>
  </body>
</html>