


{%load static %}


<html>
<head>
<title> </title>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project DOCTORS- PANEL </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <!-- CSS files -->
    <link rel="stylesheet" href="{%static "css/style.pink.css" %}">
    <link rel="shortcut icon" href="{%static "images/favicon.png" %}">

    <link rel="stylesheet" href="{%static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{%static "icofont/icofont.min.css" %}">

      <link href='https://fonts.googleapis.com/css?family=Denk One' rel='stylesheet'>
 
      <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet'>
 



<style>

h1{
   
   font-size: 50px;
   color: palevioletred;
   font-family: Denk one;
   margin-left: 20px;
   margin-top: 30px;;

}


</style>




</head>

<body>
    
      <!-- navbar-->
      <header class="header">
        <nav class="navbar navbar-expand-lg px-4 py-2" style="background-color:pink;"><a href="#" class="sidebar-toggler text-black-500 mr-4 mr-lg-5 lead" style="color: palevioletred;"><i class="icofont icofont-medical-sign"></i> </a><a href="#" class="navbar-brand font-weight-bold text-uppercase text-base" style="color: palevioletred;"> DOCTOR  </a>
            
            
            
          <ul class="ml-auto d-flex align-items-center list-unstyled mb-0">
            
            <li class="nav-item dropdown ml-auto"><a id="userInfo" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><img src={%static "images/main_ad.png" %} alt="Admin" style="max-width: 3.5rem;" class="img-fluid rounded-circle shadow"></a>
               <div aria-labelledby="userInfo" class="dropdown-menu"><a href="#" class="dropdown-item"><strong class="d-block text-uppercase headings-font-family">Akanksha handa</strong><small></small></a>
                 <div class="dropdown-divider"></div><a href="{% url 'doctorspanelmain' %}" class="dropdown-item">Dashboard</a>
                 <div class="dropdown-divider"></div><a href="{% url 'login' %}" class="dropdown-item">Login</a>
               </div>
             </li>
           </ul>
         </nav>
       </header>
       <div class="d-flex align-items-stretch">
         <div id="sidebar" class="sidebar py-3" style="background-color:whitesmoke; background: rgb(250,218,231); font-family: righteous;">
           <div class="text-black-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family" style="color: palevioletred;">Aakanksha  <br>Handa</div>
           <ul class="sidebar-menu list-unstyled">
               
                <li class="sidebar-list-item"><a href="#" data-toggle="collapse" data-target="#pages" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="icofont icofont-tools mr-3 text-gray"></i><span style="color: palevioletred;">My Account</span></a>
               <div id="pages" class="collapse">
                 <ul class="sidebar-menu list-unstyled border-left border-primary border-solid">
                     <li class="sidebar-list-item"><a href="{% url 'mprofile' %}" class="sidebar-link text-muted pl-lg-5" style="color:palevioletred;"> <span style="color: palevioletred;">Profile </span></a></li>
                     <li class="sidebar-list-item"><a href="{% url 'editpro' %}" class="sidebar-link text-muted pl-lg-5"> <span style="color:palevioletred;">Edit profile </span></a></li>
                     


                     
                        </ul>
               </div>
               


             </li>
             <li class="sidebar-list-item"><a href="{% url 'index' %}" class="sidebar-link text-muted"><i class="icofont icofont-home mr-3" style="color:gray;"></i><span style="color: palevioletred;">Home</span></a></li>
              
               
             </ul>
             
             <div class="text-black-400 text-uppercase font-weight-bold small headings-font-family"></div>
             <ul style="list-style-type: none" class="sidebar-menu list-unstyled">
       
                 <li class="sidebar-list-item"><a href="{% url 'doctorsp' %}" class="sidebar-link text-muted"><i class="icofont icofont-lungs mr-3 text-gray"></i><span style="color: palevioletred;">Lung Cancer</span></a></li>
              
               <li class="sidebar-list-item"><a href="{% url 'breastcancerp' %}" class="sidebar-link text-muted"><i class="icofont icofont-infinite mr-3 text-gray"></i><span style="color: palevioletred;">Breast Cancer</span></a></li>
               
               <li class="sidebar-list-item"><a href="{% url 'ccancerp' %}" class="sidebar-link text-muted"><i class="icofont icofont-dna-alt-2 mr-3 text-gray"></i><span style="color: palevioletred;">Cervical Cancer</span></a></li>
               
               <li class="sidebar-list-item"><a href="{% url 'doctors' %}" class="sidebar-link text-muted"><i class="icofont icofont-doctor mr-3 text-gray"></i><span style="color: palevioletred;">Doctors</span></a></li>
              
               <li class="sidebar-list-item"><a href="{% url 'hospitals' %}" class="sidebar-link text-muted"><i class="icofont icofont-hospital mr-3 text-gray"></i><span style="color: palevioletred;">Hospitals</span></a></li>
               
               <li class="sidebar-list-item"><a href="{% url 'NGO' %}" class="sidebar-link text-muted"><i class="icofont icofont-handshake-deal mr-3 text-gray"></i><span style="color: palevioletred;">Ngos</span></a></li>
               
               <li class="sidebar-list-item"><a href="{% url 'nnews' %}" class="sidebar-link text-muted"><i class="icofont icofont-news mr-3 text-gray"></i><span style="color: palevioletred;">News And Research</span></a></li>
            
   
   
               
               
               
               
               
               
               
               <li class="sidebar-list-item"><a href="{% url 'predict' %}" class="sidebar-link text-muted"><i class="icofont icofont-circuit mr-3 text-gray"></i><span style="color: palevioletred;">Go To Predictor</span></a></li>
            

               
             </ul>
           
             
             
             
            
             
             
             
           <div class="text-black-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">Your Queries</div>
           <ul class="sidebar-menu list-unstyled">
                 <li class="sidebar-list-item"><a href="{% url 'helpands' %" class="sidebar-link text-muted"><i class="icofont icofont-leaf mr-3 text-gray"></i><span style="color: palevioletred;">Help and Support</span></a></li>
              
               <li class="sidebar-list-item"><a href="{% url 'passchange' %}" class="sidebar-link text-muted"><i class="icofont icofont-ui-password mr-3 text-gray"></i><span style="color: palevioletred;">Change Password</span></a></li>
               
               <li class="sidebar-list-item"><a href="{% url 'log' %}" class="sidebar-link text-muted"><i class="icofont icofont-logout mr-3 text-gray"></i><span style="color: palevioletred;">LOGOUT</span></a></li>
               
               
               
           </ul>
         </div>
         <div class="page-holder w-100 d-flex flex-wrap">











          <div class="container-fluid" style="background-image: url({%static 'images/cc.jpg' %}); height: 650px;; background-repeat: no-repeat; background-size: cover; ">
          
          
          <div style="margin-top: 150px;"><p style="text-align: center; font-size: 70px; color: palevioletred; font-family: denk one;;">CERIVAL CANCER- PREVENTIONS</p> </div>
          
          
          
          
          
 
          </div>
      
      <div class="px-4" style="background-color: whitesmoke;background:linear-gradient(90deg, rgba(244,206,222,1) 0%, rgba(246,239,245,1) 29%) ; ">
      
      <h1 style="text-align: center; font-size: 35px; margin-top: 80px; color: palevioletred;">
          How can you prevent Cervical cancer? </h1><br> <br> <br>
          
          
         
            
             
             <h1 style="text-align: center; font-size: 35px; margin-top: 60px; color: palevioletred;">         
          
    1)  BARRIER PROTECTION </h1><br>
             
             
             
             
             <h3 style="text-align: center; font-size: 20px; color: #b37da2; font-family: righteous;">
  
          Barrier protection or spermicidal gel use during sexual intercourse decreases, but does not eliminate risk of transmitting the infection, though condoms may protect against genital warts.They also provide protection against other sexually transmitted infections, such as HIV and Chlamydia, which are associated with greater risks of developing cervical cancer.            
                 
                
                 
                 
    
          
             </h3> <br> <br>
             
             
             
       <h1 style="text-align: center; font-size: 35px; color: palevioletred; margin-top: 50px;">         
          
    2)  SCREENING </h1><br>
             
             
             
             
             <h3 style="text-align: center; font-size: 20px; color: #b37da2; font-family: righteous;">
  
     
     Checking cervical cells with the Papanicolaou test (Pap test) for cervical pre-cancer has dramatically reduced the number of cases of, and mortality from, cervical cancer. Liquid-based cytology may reduced the number of inadequate samples. Pap test screening every three to five years with appropriate follow-up can reduce cervical cancer incidence up to 80%. Abnormal results may suggest the presence of precancerous changes, allowing examination and possible preventive treatment, known as colposcopy.            
                 
                 
                 
                 
                 
                 
      A number of recommended options exist for screening those 30 to 65. This includes cervical cytology every 3 years, HPV testing every 5 years, or HPV testing together with cytology every 5 years.Screening is not beneficial before age 25, as the rate of disease is low. Screening is not beneficial in women older than 60 years if they have a history of negative results.          
                 
                 
                 
                 
                 
                 
          
          
          
             </h3> <br> <br>
                
             
             
              <h1 style="text-align: center; font-size: 35px; color: palevioletred; margin-top: 40px;">         
          
    3)  REGULAR VACCINES </h1><br>
             
             
             
             
             <h3 style="text-align: center; font-size: 20px; color: #b37da2; font-family: righteous;">
  
     
            Three HPV vaccines reduce the risk of cancerous or precancerous changes of the cervix and perineum by about 93% and 62%, respectively. The vaccines are between 92% and 100% effective against HPV 16 and 18 up to at least 8 years.

HPV vaccines are typically given to age 9 to 26, as the vaccine is most effective if given before infection occurs. The duration of effectiveness and whether a booster will be needed is unknown. The high cost of this vaccine has been a cause for concern. Several countries have considered (or are considering) programs to fund HPV vaccination.
                 
                 
                 
                 
                 
                 
          
             </h3> <br> <br>
             
     
             
             
             
    
          
             
             
             
             
             
             
             
             
             
             
             
          
          
          
          
                  
          

          
          
          
          
          
          
          
          
          
          
          
          
          
          
      
      
      
      
      
      
      
      
      
      
      
      
      
          <br> <br>
      
      
      
      
      </div>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    <!-- JavaScript files-->
    <script src="{%static "js/jquery-3.4.1.min.js" %}"></script>
                <script src="{%static "js/bootstrap.bundle.min.js" %}"></script>
                <script src="{%static "sidebar/front.js" %}"></script>

  </body>
</html>