{% extends 'base.html' %}

{% block content %}
{% load static %}


    
    
    <body style="border-radius: 0px;">
    <div class="fixed-top">
    
    <div class="row text-white bg-dark">
        <div class="col-md-1"></div> 
        
        
        <div class="col-md-2 border-left border-right pt-3 pb-2 text-center"><i class="icofont-phone text-white"></i> 1800-2000-2001</div>
        <div class="col-md-5"> </div>
        <div class="col-md-1 pt-3 pb-2 border-left border-right"> <a href="" style="text-decoration: none; color: white">Register</a>
            
            </div>
        <div class="col-md-2 pt-3 pb-2 border-right"><a href="" style="text-decoration: none; color: white; border-right"> support@example.com</a>
        
        
        </div>
        
        
    </div>
    
    
    <div class="row" style="background: linear-gradient(white,white)">
    <div class="col-md-12 text-center pt-2 pb-2">
    
        
       <nav class="navbar navbar-expand-lg navbar-light  bg-white" style="background-color: black;">
           <a class="navbar-brand ml-5" href="home.html"> <img width="100" height="50" src={%static "images/logo11.png" %}> <span class="hd1" style="font-family: Denk one;"> Cancer</span><span class="hd2" style="font-family: Denk one;"> Probe</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav m-auto">
      <li class="nav-item active">
          <b> <a class="nav-link ml-5" href="#">Home <span class="sr-only">(current)</span></a></b>
      </li>
      <li class="nav-item active">
          <b> <a class="nav-link ml-5" href="#">About</a></b>
      </li>
      <li class="nav-item active">
          <b> <a class="nav-link ml-5" href="#">Medicines</a> </b>
      </li>
        
        <li class="nav-item active">
            <b> <a class="nav-link ml-5" href="#">Pages <span class="sr-only">(current)</span></a> </b>
      </li>
      <li class="nav-item active">
          <b> <a class="nav-link ml-5" href="#">Contact us</a> </b>
      </li>
      
    
        
      <li class="nav-item dropdown">
       <b> <a class="nav-link dropdown-toggle ml-5" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Doctors
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">surgeon</a>
          <a class="dropdown-item" href="#">radiologist</a>
            <a class="dropdown-item" href="#">oncologist</a> 
        </div>
          </b>
      </li>
    </ul>
      
      <button class="btn btn-secondary btn-lg hov" type="button" style="background-color:#804f9f"> DONATE</button>
      
      
  </div>
</nav> 
        </div>
        </div> </div>
        
    
        
        <div class="container-fluid" style="background-image: url({%static 'images/dnac.jpg' %});height: 650px;background-repeat: no-repeat;background-size: cover;">
            
        
        <div class="row">
            <div class="col-md-12"> <h1 style="margin-top:200px; margin-left: 50px; font-size: 100px;">CERVICAL CANCER</h1></div>
                       
            </div>
    
        
        </div>
        
        <div class="goog" style="background-image: url({%static 'images/back.jpg' %}); height: 950px; opacity: 0.6;">
            <h4 style="color: palevioletred; margin-left: 450px; margin-top: 150px; font-size: 40px;"> WHAT IS CERVICAL CANCER? </h4> <br>
            
             <div class="" style="font-size: 25px; color: palevioletred;">         
            
              
                Cervical cancer happens when cells change in a woman’s cervix, which connects her uterus with her vagina. This cancer can affect the deeper tissues of her cervix and may spread to other parts of her body (metastasize), often the lungs, liver, bladder and rectum.

Most cases of cervical cancer are caused by infection with human papillomavirus (HPV), which is preventable with a vaccine. 
                 
                 
                 
                 
                 
                 
                 
            </div>
            
            <div class="d-flex justify-content-around">
            <div class="col-md-4"style=" margin-top: 50px;">
                
                <div class="card" style=" height: 30rem;">
  
  <div class="card-body crd">
    <h5 class="card-title" style="text-align: center; color:palevioletred;">SYMPTOMS</h5>
    <p class="card-text" style="color:black;"> 
      
    Any of the following could be signs or symptoms of cervical cancer: <br>
<ul>
    <li>Blood spots or light bleeding between or following periods.</li> <br>

<li>Menstrual bleeding that is longer and heavier than usual. </li><br>

    <li>Bleeding after intercourse, douching, or a pelvic examination. </li><br>

    <li>Increased vaginal discharge.</li> <br>

    <li>Pain during sexual intercourse.</li> <br>


    <li>Unexplained, persistent pelvic and/or back pain. </li> <br> </ul>


        
        
      </p>
     </div>
</div>
                
            </div>
                
                
                
                
                
                <div class="col-md-4" style="margin-top: 50px;">
                <div class="card" style="height: 30rem;">
  
  <div class="card-body crd1">
    <h5 class="card-title" style="text-align: center; color:palevioletred"> PREVENTIONS</h5>
    <p class="card-text">
        
        Here are some tips for reducing your risk of cervical cancer: <br> 
        
         1) Go for routine Pap tests.
Pap tests enable doctors to detect abnormalities — changes on the cells on your cervix — and take action before cervical cancer develops. <br> <br>
        
        2) Follow up on abnormal Pap smears.
If an infection is present, your doctor will treat you and repeat the Pap test at a later time. <br> <br>
        
        
        
         3) Get vaccinated. <br> 

Two vaccines, Cervarix and Gardasil, are available to protect against the types of HPV that cause the most cervical cancers
        <br>
        
        
        
        
        
        
        </p>
    
     </div>
</div>
                </div>
                
                
                <div class="col-md-4" style="margin-top: 50px;">
                 <div class="card" style="height: 30rem;">
  
  <div class="card-body crd2">
    <h5 class="card-title" style="text-align: center; color: palevioletred">TREATMENTS</h5>
    <p class="card-text">
      
      Some treatments include: <br> 
<ul>
    <li>Surgery: Surgery to cut away the cancer only. For a very small cervical cancer, it might be possible to remove the cancer entirely with a cone biopsy. </li> <br> <br>
    <li>Radiation therapy: Radiation therapy uses high-powered energy beams, such as X-rays or protons, to kill cancer cells. Radiation therapy is often combined with chemotherapy. </li>  <br> 

   

    <li>Targeted therapy: <br>
Targeted drug treatments focus on specific weaknesses present within cancer cells.  </li>
        
      </ul>
      
      
      
      
      
      
      </p>
     </div>
</div>
                
                
                
                
                
                
                
                
                
                </div>
            
            
            
            
            
            
            
            
            
            
            </div>
            
            
            
            
            
            
            
        
        
        
        
        
        
        
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        </div>
    
   
        
    
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
<script src={%static "js/jquery-3.4.1.min.js" %}></script>
<script src={%static "js/bootstrap.bundle.min.js" %}> </script>
<script src={%static "js/front.js" %}></script>
    
    
    
    
    
        
    {% endblock %}
    
    
    
    
    </body>






































</html>