{%load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project DOCTORS - PANEL </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <!-- CSS files -->
    <link rel="stylesheet" href="{%static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{%static "icofont/icofont.css" %}">
    <link rel="stylesheet" href="{%static "sidebar/style.violet.css" %}">
    <link rel="shortcut icon" href=" {%static "images/favicon.png" %}">
      <link href='https://fonts.googleapis.com/css?family=Denk One' rel='stylesheet'>
 
      
      
<style>
   
      
    h5{
        font-family: Denk one;
    }
    p{
        font-family: Denk one;
    }
    .custom-form {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
     height: 300px;
    width: 700;
}   

    .change-password-box{
        	height: 420px;
    		width: 650px;
        	position: absolute;
    		top: 50%;
    		left: 50%;
    		transform: translate(-50%, -50%);
    		box-shadow: 20px 20px 10px #ccc;
    		text-align: center;
        border: 3px solid white;}
      
      </style>
      
      
  </head>
  <body> 
    <!-- navbar-->
    <header class="header">
      <nav class="navbar navbar-expand-lg px-4 py-2" style="background-color:plum;"><a href="#" class="sidebar-toggler text-black-500 mr-4 mr-lg-5 lead" style="color: purple;"><i class="icofont icofont-medical-sign"></i> </a><a href="#" class="navbar-brand font-weight-bold text-uppercase text-base" style="color: purple;"> DOCTOR  </a>
        <ul class="ml-auto d-flex align-items-center list-unstyled mb-0">
            
          <li class="nav-item dropdown ml-auto"><a id="userInfo" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><img src="{%static "images/main_ad.png" %}" alt="Admin" style="max-width: 3.5rem;" class="img-fluid rounded-circle shadow"></a>
            <div aria-labelledby="userInfo" class="dropdown-menu"><a href="#" class="dropdown-item"><strong class="d-block text-uppercase headings-font-family">Akanksha handa</strong><small></small></a>
              <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Settings</a>
              <div class="dropdown-divider"></div><a href="" class="dropdown-item">Logout</a>
            </div>
          </li>
        </ul>
      </nav>
    </header>
    <div class="d-flex align-items-stretch">
      <div id="sidebar" class="sidebar py-3" style="background-color:whitesmoke;">
        <div class="text-black-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">DASH <br>BOARD</div>
        <ul class="sidebar-menu list-unstyled">
            
             <li class="sidebar-list-item"><a href="#" data-toggle="collapse" data-target="#pages" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="icofont icofont-tools mr-3 text-gray"></i><span style="color: purple;">My Account</span></a>
            <div id="pages" class="collapse">
              <ul class="sidebar-menu list-unstyled border-left border-primary border-solid">
                  <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted pl-lg-5" style="color: purple;"> <span style="color: purple;">Profile </span></a></li>
                  <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted pl-lg-5"> <span style="color:purple;">Edit profile </span></a></li>
                  
                     </ul>
            </div>
          </li>
            
            
          </ul>
          
          
          
          <div class="text-black-400 text-uppercase font-weight-bold small headings-font-family"></div>
          <ul style="list-style-type: none" class="sidebar-menu list-unstyled">
    
              <li class="sidebar-list-item"><a href="{% url 'doctorsp' %}" class="sidebar-link text-muted"><i class="icofont icofont-leaf mr-3 text-gray"></i><span style="color: purple;">Lung Cancer</span></a></li>
           
            <li class="sidebar-list-item"><a href="{% url 'breastcancerp' %}" class="sidebar-link text-muted"><i class="icofont icofont-ui-password mr-3 text-gray"></i><span style="color: purple;">Breast Cancer</span></a></li>
            
            <li class="sidebar-list-item"><a href="{% url 'ccancerp' %}" class="sidebar-link text-muted"><i class="icofont icofont-logout mr-3 text-gray"></i><span style="color: purple;">Cervical Cancer</span></a></li>
            
            
          </ul>
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
        <div class="text-black-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">Your Queries</div>
        <ul class="sidebar-menu list-unstyled">
              <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted"><i class="icofont icofont-leaf mr-3 text-gray"></i><span style="color: purple;">Help and Support</span></a></li>
           
            <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted"><i class="icofont icofont-ui-password mr-3 text-gray"></i><span style="color: purple;">Change Password</span></a></li>
            
            <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted"><i class="icofont icofont-logout mr-3 text-gray"></i><span style="color: purple;">LOGOUT</span></a></li>
            
            
            
        </ul>
      </div>
      <div class=" container-fluid page-holder w-100 d-flex position-relative">
          <div class="row w-100">
          <div class="title col-md-12 text-center ">
              <h1 class="title-text mt-3" style="font-size: 50px; font-family: denk one; color: purple; ">CERVICAL CANCER PREDICTION</h1>
              
              </div>
              
              
              <form class=" custom-form  position-absolute" method="POST" action="">
                {% csrf_token %}
                  <div class="form-div d-flex mb-4"> <label class="form-label col-2 text-center" style="">Number_of_sexual_partners: </label>  <input type="number" class="form-control rounded-pill" name="num" placeholder="Enter value" min="1" max="28" size="50">
                  </div>
                  <div class="form-div d-flex mb-5"> <label class="form-label  col-2 text-center">First_sexual_intercourse: </label>   <input type="number" class="form-control rounded-pill"  name="fs" placeholder="Enter value" min="10" max="32" size="50"></div>

                  <div class="form-div d-flex mb-5"> <label class="form-label  col-2 text-center">Num_of_pregnancies: </label>   <input type="number" class="form-control rounded-pill"  name="fs" placeholder="Enter value" min="0" max="11" size="50"></div>
                   
                   <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">Smokes:</label>   <input type="number"class="form-control rounded-pill"   name="smk" placeholder="Enter value" min="0" max="1" size="60"> 
                  </div>
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">years: </label>   <input type="number"class="form-control rounded-pill"   name="yrs" placeholder="Enter value" min="0" max="37" size="60"> 
                  </div>
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">Smokespacks: </label>   <input type="number"class="form-control rounded-pill"   name="smo_packs" placeholder="Enter value" min="0" max="37" size="70"> 
                  </div>
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">Hormonal_Contra: </label><input type="number"class="form-control rounded-pill"   name="hc" placeholder="Enter value" min="0" max="1" size="60"> 
                  </div>
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">Hormonal_Contra_years: </label>  <input type="number"class="form-control rounded-pill"   name="hcy" placeholder="Enter value" min="0.0" max="0.42" size="60"> 
                  </div>
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">IUD: </label>   <input type="number"class="form-control rounded-pill"   name="iud" placeholder="Enter value" min="0" max="1" size="60"> 
                  </div>
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">IUD _years: </label>   <input type="number"class="form-control rounded-pill"   name="iudy" placeholder="Enter value" min="0.10" max="0.30" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">STDs: </label>  <input type="number" class="form-control rounded-pill"   name="std" placeholder="Enter value" min="0" max="1" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">STDs _number: </label>   <input type="number"class="form-control rounded-pill"   name="stdy" placeholder="Enter value" min="0" max="4" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">STDs_cond: </label>   <input type="number"class="form-control rounded-pill"   name="stdc" placeholder="Enter value" min="0" max="1" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">STDs_cervical_cond: </label>   <input type="number"class="form-control rounded-pill"   name="stdcc" placeholder="Enter value" min="0" max="0" size="60"> 
                  </div>
                  

                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">STDs_vaginal_cond: </label>   <input type="number"class="form-control rounded-pill"   name="stdvc" placeholder="Enter value" min="0" max="1" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">STDs_v_perineal_cond: </label>   <input type="number"class="form-control rounded-pill"   name="stdv" placeholder="Enter value" min="0" max="1" size="60"> 
                  </div>
                  
                  
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">STDs_syphilis: </label>   <input type="number"class="form-control rounded-pill"   name="stds" placeholder="Enter value" min="0" max="1" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">STDs_pel_ infla_disease: </label>  <input type="number"class="form-control rounded-pill"   name="stdpe" placeholder="Enter value" min="0" max="1" size="60"> 
                  </div>
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">STDs_gen_herpes: </label>   <input type="number"class="form-control rounded-pill"   name="stdge" placeholder="Enter value" min="0" max="1" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">STDs_molluscum_contag: </label>   <input type="number"class="form-control rounded-pill"   name="stdmo" placeholder="Enter value" min="0" max="1" size="60"> 
                  </div>
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">STDs_AIDS: </label>   <input type="number"class="form-control rounded-pill"   name="stdai" placeholder="Enter value" min="0" max="0" size="60"> 
                  </div>
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">STDs_HIV: </label>   <input type="number"class="form-control rounded-pill"   name="stdhi" placeholder="Enter value" min="0" max="1" size="60"> 
                  </div>
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">STDs_Hepatitis B: </label>   <input type="number"class="form-control rounded-pill"   name="stdhb" placeholder="Enter value" min="0" max="1" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">STDs_HPV: </label>   <input type="number"class="form-control rounded-pill"   name="stdhp" placeholder="Enter value" min="0" max="1" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">STDs_Num_of_diagnosis: </label>  &nbsp; &nbsp; &nbsp; <input type="number"class="form-control rounded-pill"   name="stdnum" placeholder="Enter value" min="0" max="3" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">STDs_Time_since_first: </label>   <input type="number"class="form-control rounded-pill"   name="stdfrst" placeholder="Enter value" min="1" max="22" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">STDs: Time_since_last: </label>   <input type="number"class="form-control rounded-pill"   name="stdlst" placeholder="Enter value" min="1" max="22" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">Dx_Cancer: </label> <input type="number"class="form-control rounded-pill"   name="dc" placeholder="Enter value" min="0" max="1" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">Dx_CIN: </label>   <input type="number"class="form-control rounded-pill"   name="dcin" placeholder="Enter value" min="0" max="1" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">Dx_HPV: </label>   <input type="number"class="form-control rounded-pill"   name="dhp" placeholder="Enter value" min="0" max="1" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">Dx: </label>   <input type="number"class="form-control rounded-pill"   name="d" placeholder="Enter value" min="0" max="1" size="60"> 
                  </div>
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">Hinselmann: </label>  <input type="number"class="form-control rounded-pill"   name="hin" placeholder="Enter value" min="0" max="1" size="60"> 
                  </div>
                  
                  
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">Schiller: </label>   <input type="number"class="form-control rounded-pill"   name="sch" placeholder="Enter value" min="0" max="1" size="60"> 
                  </div>
                  
                  
                  <div class="form-div d-flex mb-4"> <label class="form-label  col-2 text-center">Citology: </label> &nbsp; &nbsp; &nbsp;  <input type="number"class="form-control rounded-pill"   name="cit" placeholder="Enter value" min="0" max="1" size="60"> 
                  </div>
                  
                   
                  
                  
                  
        
                  
                  
                  
                <button class="button btn-lg text-center ml-3" type="submit" style="background-color: purple; color: white;"> SUBMIT</button>

                  
                  
                  
                  
                  
                  
                 
                  </form>
                         
          
          
        </div>
      </div>
        
        
      <script src="{%static "js/jquery-3.4.1.min.js" %}"></script>
      <script src="{%static "js/bootstrap.bundle.min.js" %}"></script>
      <script src="{%static "sidebar/front.js" %}"></script>
          
        
        
    </body>
</html>