
{%load static %}






<html>
<head>
<title> </title>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project DOCTORS- PANEL </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <!-- CSS files -->
    <link rel="stylesheet" href="{%static "css/style.pink.css" %}">
    <link rel="shortcut icon" href="{%static "images/favicon.png" %}">

    <link rel="stylesheet" href="{%static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{%static "icofont/icofont.min.css" %}">

      <link href='https://fonts.googleapis.com/css?family=Denk One' rel='stylesheet'>
 
      <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet'>
 



<style>

h1{
   
   font-size: 50px;
   color: palevioletred;
   font-family: Denk one;
   margin-left: 20px;
   margin-top: 30px;;

}


</style>




</head>

<body>
    
      <!-- navbar-->
      <header class="header">
        <nav class="navbar navbar-expand-lg px-4 py-2" style="background-color:pink;"><a href="#" class="sidebar-toggler text-black-500 mr-4 mr-lg-5 lead" style="color: palevioletred;"><i class="icofont icofont-medical-sign"></i> </a><a href="#" class="navbar-brand font-weight-bold text-uppercase text-base" style="color: palevioletred;"> DOCTOR  </a>
            
            
            
          <ul class="ml-auto d-flex align-items-center list-unstyled mb-0">
            
            <li class="nav-item dropdown ml-auto"><a id="userInfo" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><img src={%static "images/main_ad.png" %} alt="Admin" style="max-width: 3.5rem;" class="img-fluid rounded-circle shadow"></a>
               <div aria-labelledby="userInfo" class="dropdown-menu"><a href="#" class="dropdown-item"><strong class="d-block text-uppercase headings-font-family">Akanksha handa</strong><small></small></a>
                 <div class="dropdown-divider"></div><a href="{% url 'doctorspanelmain' %}" class="dropdown-item">Dashboard</a>
                 <div class="dropdown-divider"></div><a href="{% url 'login' %}" class="dropdown-item">login</a>
               </div>
             </li>
           </ul>
         </nav>
       </header>
       <div class="d-flex align-items-stretch">
         <div id="sidebar" class="sidebar py-3" style="background-color:whitesmoke; background: rgb(250,218,231); font-family: righteous;">
           <div class="text-black-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family" style="color: palevioletred;">Aakanksha  <br>Handa</div>
           <ul class="sidebar-menu list-unstyled">
               
                <li class="sidebar-list-item"><a href="#" data-toggle="collapse" data-target="#pages" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="icofont icofont-tools mr-3 text-gray"></i><span style="color: palevioletred;">My Account</span></a>
               <div id="pages" class="collapse">
                 <ul class="sidebar-menu list-unstyled border-left border-primary border-solid">
                     <li class="sidebar-list-item"><a href="{% url 'mprofile' %}" class="sidebar-link text-muted pl-lg-5" style="color:palevioletred;"> <span style="color: palevioletred;">Profile </span></a></li>
                     <li class="sidebar-list-item"><a href="{% url 'editpro' %}" class="sidebar-link text-muted pl-lg-5"> <span style="color:palevioletred;">Edit profile </span></a></li>
                     


                     
                        </ul>
               </div>
               <li class="sidebar-list-item"><a href="{% url 'index' %}" class="sidebar-link text-muted"><i class="icofont icofont-home mr-3" style="color:gray;"></i><span style="color: palevioletred;">Home</span></a></li>
              


             </li>
               
               
             </ul>
             
             <div class="text-black-400 text-uppercase font-weight-bold small headings-font-family"></div>
             <ul style="list-style-type: none" class="sidebar-menu list-unstyled">
       
                 <li class="sidebar-list-item"><a href="{% url 'doctorsp' %}" class="sidebar-link text-muted"><i class="icofont icofont-lungs mr-3 text-gray"></i><span style="color: palevioletred;">Lung Cancer</span></a></li>
              
               <li class="sidebar-list-item"><a href="{% url 'breastcancerp' %}" class="sidebar-link text-muted"><i class="icofont icofont-infinite mr-3 text-gray"></i><span style="color: palevioletred;">Breast Cancer</span></a></li>
               
               <li class="sidebar-list-item"><a href="{% url 'ccancerp' %}" class="sidebar-link text-muted"><i class="icofont icofont-dna-alt-2 mr-3 text-gray"></i><span style="color: palevioletred;">Cervical Cancer</span></a></li>
               <li class="sidebar-list-item"><a href="{% url 'predict' %}" class="sidebar-link text-muted"><i class="icofont icofont-circuit mr-3 text-gray"></i><span style="color: palevioletred;">Go To Predictor</span></a></li>
            

               
             </ul>
           
             
             
             
            
             
             
             
           <div class="text-black-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">Your Queries</div>
           <ul class="sidebar-menu list-unstyled">
                 <li class="sidebar-list-item"><a href="{% url 'helpands' %}" class="sidebar-link text-muted"><i class="icofont icofont-leaf mr-3 text-gray"></i><span style="color: palevioletred;">Help and Support</span></a></li>
              
               <li class="sidebar-list-item"><a href="{% url 'passchange' %}" class="sidebar-link text-muted"><i class="icofont icofont-ui-password mr-3 text-gray"></i><span style="color: palevioletred;">Change Password</span></a></li>
               
               <li class="sidebar-list-item"><a href="{% url 'login' %}" class="sidebar-link text-muted"><i class="icofont icofont-login mr-3 text-gray"></i><span style="color: palevioletred;">LOGIN</span></a></li>
               
               
               
           </ul>
         </div>
         <div class="page-holder w-100 d-flex flex-wrap">







    
    
    
        
        <div class="container-fluid" style="background-image: url({%static 'images/dnac.jpg' %});height: 650px;background-repeat: no-repeat;background-size: cover;">
            
        
        <div class="row">
            <div class="col-md-12"> <h1 style="margin-top:200px; margin-left: 50px; font-size: 100px;">CERVICAL CANCER</h1></div>
                       
            </div>
    
        
        </div>
        
        <div class="goog" style="background-image: url({%static 'images/back.jpg' %}); height: 950px; opacity: 0.6;">
            <h4 style="color: palevioletred; margin-left: 450px; margin-top: 150px; font-size: 40px;"> WHAT IS CERVICAL CANCER? </h4> <br>
            
             <div class="" style="font-size: 25px; color: palevioletred;">         
            
              
                Cervical cancer happens when cells change in a woman’s cervix, which connects her uterus with her vagina. This cancer can affect the deeper tissues of her cervix and may spread to other parts of her body (metastasize), often the lungs, liver, bladder and rectum.

Most cases of cervical cancer are caused by infection with human papillomavirus (HPV), which is preventable with a vaccine. 
                 
                 
                 
                 
                 
                 
                 
            </div>
            
            <div class="d-flex justify-content-around">
            <div class="col-md-4"style=" margin-top: 50px;">
                
                <div class="card" style=" height: 30rem;">
  
  <div class="card-body crd" style="font-family: righteous;">
    <h5 class="card-title" style="text-align: center; color:maroon;">SYMPTOMS</h5>
    <p class="card-text" style="color:black;"> 
      
    Any of the following could be signs or symptoms of cervical cancer: <br>
<ul>
    <li>Blood spots or light bleeding between or following periods.</li> <br>

<li>Menstrual bleeding that is longer and heavier than usual. </li><br>

    <li>Bleeding after intercourse, douching, or a pelvic examination. </li><br>

    <li>Increased vaginal discharge.</li> <br>

    <li>Pain during sexual intercourse.</li> <br>


    <li>Unexplained, persistent pelvic and/or back pain. </li> <br> </ul>


        
        
      </p>
     </div>
</div>
                
            </div>
                
                
                
                
                
                <div class="col-md-4" style="margin-top: 50px;">
                <div class="card" style="height: 30rem;">
  
  <div class="card-body crd1" style="font-family: righteous;">
    <h5 class="card-title" style="text-align: center; color:maroon"> PREVENTIONS</h5>
    <p class="card-text">
        
        Here are some tips for reducing your risk of cervical cancer: <br> 
        
         1) Go for routine Pap tests.
Pap tests enable doctors to detect abnormalities — changes on the cells on your cervix — and take action before cervical cancer develops. <br> <br>
        
        2) Follow up on abnormal Pap smears.
If an infection is present, your doctor will treat you and repeat the Pap test at a later time. <br> <br>
        
        
        
         3) Get vaccinated. <br> 

Two vaccines, Cervarix and Gardasil, are available to protect against the types of HPV that cause the most cervical cancers
        <br>
        
        
        
        
        
        
        </p>
    
     </div>
</div>
                </div>
                
                
                <div class="col-md-4" style="margin-top: 50px;">
                 <div class="card" style="height: 30rem;">
  
  <div class="card-body crd2" style="font-family: righteous;">
    <h5 class="card-title" style="text-align: center; color: maroon">TREATMENTS</h5>
    <p class="card-text">
      
      Some treatments include: <br> 
<ul>
    <li>Surgery: Surgery to cut away the cancer only. For a very small cervical cancer, it might be possible to remove the cancer entirely with a cone biopsy. </li> <br> <br>
    <li>Radiation therapy: Radiation therapy uses high-powered energy beams, such as X-rays or protons, to kill cancer cells. Radiation therapy is often combined with chemotherapy. </li>  <br> 

   

    <li>Targeted therapy: <br>
Targeted drug treatments focus on specific weaknesses present within cancer cells.  </li>
        
      </ul>
      
      
      
      
      
      
      </p>
     </div>
</div>
                
                
                
                
                
                
                
                
                
                </div>
            
            
            
            
            
            
            
            
            
            
            </div>
            
            
            
            
            
            
            
        
        
        
        
        
        
        
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        </div>
    
   
        
    
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
<script src={%static "js/jquery-3.4.1.min.js" %}></script>
<script src={%static "js/bootstrap.bundle.min.js" %}> </script>
<script src={%static "js/front.js" %}></script>
    
    
    
    
    
        
    
    
    
    
    
    </body>






































</html>