
{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container-fluid" style="background-image: url({%static 'images/loginimg.jpg' %});background-repeat: no-repeat;background-size: cover;height: 800px;">
 <div class="row" style="text-align: center;">
  <form action="" method="POST" style="margin-top: 200px;">
   {% csrf_token %}
   <h3 style="font-family:Righteous; margin-left: 400px;color: white;"> Did you forget your password? Don't worry, we got you!</h3>
   <div style="color:red;">{{res}}</div>
   <div style="color: green;">{{rest}}</div>

   <label style="text-align: center; font-size: 25px; margin-top: 30px; font-family: righteous;
     color: white;">E-mail:</label>
   <input class="input rounded-pill" type="email" name="email" placeholder="Enter e-mail here to receive your new passkey!!" size="50" style="border: solid 2px violet;"> <br>
   <button type="submit" class="btn btn secondary" style="font-family: righteous; font-size: 25px; color: darkviolet;;">Get Password</button>







 </form>
</div>

 <script src={%static "js/jquery-3.4.1.min.js" %}></script>
 <script src={%static "js/bootstrap.bundle.min.js" %}> </script>
 <script src={%static "js/front.js" %}></script>

{% endblock %}





</body>






</html>