
{% extends 'base2.html' %}

{% block content %}

{%load static %}
      <div class="page-holder w-100 d-flex flex-wrap">
      <div class="container-fluid" style="background-image: url({%static 'images/bcancerback.jpg' %});height: 650px;background-repeat: no-repeat;background-size: cover;">
            



<img src="data:image/png;base64,{{graphic|safe}}" style="margin-left: 250px; height: 500px; width: 700px; margin-top: 50px;opacity: 0.85;">

</div>
</div>
</div>

{% endblock %}
</body>
</html>