<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project ADMIN - PANEL </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <!-- CSS files -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/icofont.css">
    <link rel="stylesheet" href="sidebar/style.default.css">
    <link rel="shortcut icon" href="../favicon.png">

      
      
  </head>
  <body> 
    <!-- navbar-->
    <header class="header">
      <nav class="navbar navbar-expand-lg px-4 py-2 bg-white shadow"><a href="#" class="sidebar-toggler text-black-500 mr-4 mr-lg-5 lead"><i class="icofont icofont-medical-sign"></i> </a><a href="#" class="navbar-brand font-weight-bold text-uppercase text-base"> DOCTORS  </a>
        <ul class="ml-auto d-flex align-items-center list-unstyled mb-0">
            
          <li class="nav-item dropdown ml-auto"><a id="userInfo" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><img src="admin.png" alt="Admin" style="max-width: 2.5rem;" class="img-fluid rounded-circle shadow"></a>
            <div aria-labelledby="userInfo" class="dropdown-menu"><a href="#" class="dropdown-item"><strong class="d-block text-uppercase headings-font-family">Akanksha handa</strong><small>Admin</small></a>
              <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Settings</a><a href="#" class="dropdown-item">Activity log       </a>
              <div class="dropdown-divider"></div><a href="login.html" class="dropdown-item">Logout</a>
            </div>
          </li>
        </ul>
      </nav>
    </header>
    <div class="d-flex align-items-stretch">
      <div id="sidebar" class="sidebar py-3">
        <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">HIGHLIGHTS</div>
        <ul class="sidebar-menu list-unstyled">
              <li class="sidebar-list-item"><a href="index.html" class="sidebar-link text-muted active"><i class="icofont icofont-home mr-3 text-gray"></i><span>Home</span></a></li>
              
          <li class="sidebar-list-item"><a href="#" data-toggle="collapse" data-target="#pages" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="icofont icofont-tools mr-3 text-gray"></i><span>Tools</span></a>
            <div id="pages" class="collapse">
              <ul class="sidebar-menu list-unstyled border-left border-primary border-solid">
                <li class="sidebar-list-item"><a href="C:\Users\Akank\OneDrive\Desktop\bootstrap-44\lungcancer.html" class="sidebar-link text-muted pl-lg-5">Lung Cancer</a></li>
                <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted pl-lg-5">Breast Cancer</a></li>
                  <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted pl-lg-5">Skin Cancer</a></li>
                     </ul>
            </div>
          </li>
              <li class="sidebar-list-item"><a href="login.html" class="sidebar-link text-muted"><i class="icofont icofont-unlocked mr-3 text-gray"></i><span>Login</span></a></li>
        </ul>
        <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">EXTRAS</div>
        <ul class="sidebar-menu list-unstyled">
              <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted"><i class="icofont icofont-leaf mr-3 text-gray"></i><span>NGOS</span></a></li>
           
            <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted"><i class="icofont icofont-news mr-3 text-gray"></i><span>News and Research</span></a></li>
            
        </ul>
      </div>
      <div class="page-holder w-100 d-flex flex-wrap">
        
        </div></div>
    <!-- JavaScript files-->
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="sidebar/front.js"></script>
  </body>
</html>