

{% load static %}
<html>
<head>
    
    <link rel="stylesheet" href="{%static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{%static "icofont/icofont.min.css" %}">

<link href='https://fonts.googleapis.com/css?family=Denk One' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet'>

        
<style>
        
  .hd1{
      font-family: fantasy; color: blueviolet; text-decoration-style: double;
      
  }
  
  .hd2{
      font-family: cursive; color: deeppink; text-decoration-style: wavy;
  }
      .carousel-fade img{
          height:400px;
      }
  
      .hov:hover{
      color: black;
      
  }
      
      
      
      
      .btn{
          font-family: consolas;
          
      }
      
  
      .hvr:hover{
          color:rebeccapurple;
      }
      
      .goog{
          font-family: Denk one;
          font-size: 22px;
          color: black;
      }
      
      .overlay-img {
top: 125px;
left: 50px;
}
      .overlay-img-1 {
top: 125px;
right: 10px;
}
      .overlay-text {
top: 230px;
left: 127px;
color: palevioletred;
font-family: denk one;
font-size: 35px;
      
}
 .overlay-text-1 {
top: 160px;
right: 25px;
color: palevioletred;
font-family: denk one;
font-size: 35px;
}
      img.card-img-top:hover{
          transform: scale(1.5);
          transition: 15 ease;
      }
      .pic{
          overflow: hidden;
      }
      .pic1{
          overflow: hidden;
      }
      .pic2{
          overflow: hidden;
      }
      .tcolor:hover{
        color: palevioletred;
        font-family: Righteous;

      }
      
  </style>


</head>
<body>
  
  <div class="row" style="background-color: black; height: 180px;">
<div class="col-md-12 text-left pt-2 pb-2 mt-5">
  
  <div class='row'>
      <div class='col-md-6'>
<a class="navbar-brand ml-5" href="{% url 'index' %}"> <img width="100" height="50" src="{%static "images/logo11.png" %}"> 
    <span class="hd1" style="font-size: 28px; font-family: Denk one;"> Cancer</span><span class="hd2" style="font-size: 28px; font-family:Denk one;"> Probe</span></a>
      </div>
  <div class=' col-md-6 text-right'>
      <button class="btn btn-secondary btn-lg hov" type="button" style="background-color:#804f9f; margin-right: 10px; font-family: consolas;"> DONATE</button>
      <button class="btn btn-secondary btn-lg hov" type="button" style="background-color:palevioletred; margin-right: 10px; font-family: consolas;"> <a href="{% url 'login' %}" style="text-decoration: none; color: white;"> LOGIN </a></button>
    </div>
  </div>
      </div>
  
  
      </div>
  
  

  <div class="row">
<div class="col-md-12 text-center pt-2 pb-2">
<div class="col-md-7">
  
 <nav class="navbar navbar-expand-lg navbar-light  bg-white">
      
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
<ul class="navbar-nav m-auto">
<li class="nav-item active">
    <b> <a class="nav-link ml-5" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a></b>
</li>
<li class="nav-item active">
    <b> <a class="nav-link ml-5" href="{% url 'aboutus' %}">About</a></b>
</li>
<li class="nav-item active">
    <b> <a class="nav-link ml-5" href="{% url 'contact' %}">Contact</a> </b>
</li>
  



  <li class="nav-item dropdown">
 <b> <a class="nav-link dropdown-toggle ml-5" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Cancers
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item" href="{% url 'lcancermain' %}">Lung cancer</a>
    <a class="dropdown-item" href="{% url 'bcancermain' %}">Breast  cancer</a>
      <a class="dropdown-item" href="{% url 'ccancermain' %}">Cervical cancer</a> 
  </div>
    </b>
</li>
  











</ul>




</div>
     

      

     
</nav> 
 
  
  </div>
  
      
  
  
  
  </div>
      
      
      
      
      </div>
      
      
  
  
  
  





        
        
        
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="2000">
        
        
      <img src={%static "images/cancer.jpg" %} alt="..." class="w-100 h-100">

      <div class="overlay-img position-absolute"><img src="{%static "images/purplepattern.png" %}"></div>
        <div class="overlay-text position-absolute">
            <H2>UNITE. IGNITE. FIGHT</H2>
            <H2>HELP US BEAT CANCER!!</H2>
            <button class="overlay-button btn" style="background-color: palevioletred; color: white;"> <a href="{% url 'aboutus' %}" style="color: white;">Learn More </a></button>
        </div>       
        
        <div></div>
            
    </div>
    <div class="carousel-item" data-interval="2000">
        
        
      <img src={%static "images/1.jpg" %} class="d-block w-100 h-100" alt="...">

      <div class="overlay-img-1 position-absolute"><img src="{%static "images/purplepattern.png" %}">
        <div class="overlay-text-1 position-absolute">
            <H2>UNITE. IGNITE. FIGHT</H2>
            <H2>HELP US BEAT CANCER!!</H2>
            <button class="overlay-button btn" style="background-color: palevioletred;color: white;"> <a href="{% url 'aboutus' %}" style="text-decoration: none; color: white;">Learn More </a></button>
        </div>
    </div>

    
    </div>
    
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 pt-5 pb-5">
            
            <div class="card" style="width: 27rem; background-color:#FFC300;">
  <div class="pic"><img src="{%static "images/Patient.jpg" %}" class="card-img-top" alt="Doctor caring for patient"> </div>
  <div class="card-body">
    <h5 class="card-title text-white">ABOUT US</h5>
    <p class="card-text text-white">We provide information on the deadly disease that cancer is, along with predicting how dangerous it is in ypur case.</p>
    <a href="{% url 'aboutus' %}" class="btn btn-light">Get to know us.</a>
  </div>
</div>
            
            
            
            
            
            
            </div>
            <div class="col-md-4 pt-5 pb-5"><div class="card" style="width: 27rem; background-color:#85C1E9;">
  <div class="pic1"><img src="{%static "images/charity.jpg" %}" class="card-img-top" alt="Donate some money"> </div>
  <div class="card-body">
    <h5 class="card-title text-white"> UNITED WE STAND</h5>
    <p class="card-text text-white">Make a difference. Even a small portion from your side could mean a lot to someone else.</p>
    <a href="#" class="btn btn-light">DONATE</a>
  </div>
</div></div>
            <div class="col-md-4 pt-5 pb-5">
            
            <div class="card" style="width: 27rem; background-color:#A569BD;">
  <div class="pic2"><img src="{%static "images/medicine.jpg" %}" class="card-img-top" alt="Know about researches"> </div>
  <div class="card-body">
    <h5 class="card-title text-white">SPREAD AWARENESS</h5>
    <p class="card-text text-white">Get briefed about the latest news related to cancer.Be Aware, Make Aware!</p>
    <a href="{% url 'nnews' %}" class="btn btn-light"> NEWS AND RESEARCHES</a>
  </div>
</div>
            
            
            
            
            
            
            
            
            </div>
                
            
                
            </div>
            
        </div>

        
        

        <div class="container-fluid w-100 h-60" style="background-image: url({%static 'images/health.jpg' %}); height: 850px; opacity: 0.7;">
            
            <h1 class="text-center">OUR MISSION</h1>
        <div class="row">
    
        
            <div class="col-md-4"> <img src={%static "images/ourm1.png" %} style="margin-top: 100px; margin-left: 90px;"> <h3 style="margin-top: 50px;"> <b>ENCOURAGEMENT AND INFORMATION </b></h3><br> <h5 class="hvr"> we help to aware you about signs, so that you can avoid what causes cancer, or catch it right in time. The next steps include <br> taking the neccessary steps and  making <br> everyone around you too.</h5></div>
            
            
            <div class="col-md-4"> <img src={%static "images/ourm2.png" %} style="margin-top: 100px; margin-left: 150px;"> <h3 style="margin-top: 50px; margin-left: 150px;"> <b>JOIN HANDS</b></h3> <br> <h5 class="hvr" style="margin-left: 100px;"> We stand with you and together <br>we  can beat cancer. Try to help <br> others  near and far away,  Donate <br> as much as you can. That is how <br> you can unburden someone.</h5></div>
            
            
            
            <div class="col-md-4"><img src={%static "images/ourm3.png" %} style="margin-top: 117px; margin-left: 290px;"><h3 style="margin-top: 40px; margin-left: 150px;"><b>FOSTERING INNOVATION </b></h3> <br> <h5 class="hvr" style="margin-left: 100px;"> On our website you'll get the innovations and researches  being <br> made all over the world. These researches and studies can proove to be beneficial for those with <br> malignant cancers like carcinomas.</h5></div>
                
        
        
        
        
        
        
            </div>
        </div>
        
         <div class="container-fluid w-700 h-160" style="background-image: url({%static 'images/patient_h.jpg' %}); height:950px;opacity: 0.6; background-repeat: no-repeat; background-size: cover; margin-top: 100px;">
             
             <div class="row">
             
             <div class="col-md-12 goog">
                 
                 <h1 style="margin-top: 250px; margin-left: 100px;">WE VOUCH FOR A <br> CANCER-LESS ERA.</h1>
                 <h5 style="margin-top: 30px; margin-left: 100px;"> We provide information, apt diagnosis and support, <br> for you to fight against cancer.</h5> <br>
                 <div class=""> <i class="icofont-brand-att" style="margin-left: 100px;"> </i> &nbsp; &nbsp;PREDICTION  <h5 style="margin-left: 130px; margin-top: 20px;">
                      
                     Expect to get THE best predictions.
                     
                    
                     </h5> </div> <br>
                 
                  <div class=""> <i class="icofont-hand-thunder icofont-2x" style="margin-left: 90px;"> </i> COURAGE  <h5 style="margin-left: 130px; margin-top: 20px;">
                      
                     We do our part and you do yours. <br>
                      Have Courage and step up.
                     
                    
                     </h5>  </div> <br>
                 
                 
                 <div class=""> <i class="icofont-cart-alt icofont-2x" style="margin-left: 90px;"> </i> ESSENTIALS  <h5 style="margin-left: 130px; margin-top: 20px;">
                      
                     Doctors. Hospitals. Medicines. News <br>
                      
                     All Essentials in one place.
                    
                     </h5>  </div> <br> <br>
                 
                 
                 
                 
                 
                 
                 </div>
             
             
             
             
             
             
             
             </div>
             
             
             
             
             
             
        </div>
        
        
        
        
        
        
        
        
        
        
        
        <div class="container-fluid bg-dark text-white" style="background-image: url({%static 'images/back.jpg' %});">
        <div class=" row py-5" style="background-color:rgba(0,0,0,0.65)">
        <div class="container">
        <div class="row" >
            <div class="col-md-2 pt-2 pb-2">
            <a class="navbar-brand" href="{% url 'index' %}"> <img width="100" height="60" src={%static "images/logo11.png" %} href="{% url 'index' %}"> <span class="hd1" style="font-family: denk one; font-size: 30px;"> Cancer</span><span class="hd2" style="font-family: denk one; font-size: 30px;"> Probe</span></a>
            
            </div>
            <div class="col-md-8 mt-4 pb-2 text-center tcolor"> 221 B, Bakers' Street, Manhattan, England,UK </div>
            <div class="col-md-2 mt-2 text-right text-white" style="text-decoration-color: white;"> <button class="btn btn-secondary btn-lg hov" type="button" style="background-color:#804f9f; font-family: consolas;"> DONATE</button>  </div>
            
            <div class="row border-top border-secondary mt-3">
               <div class="col-md-6 border-right border-bottom mt-3 border-secondary"> <br/>
                   <h5 class="tcolor"> Click the subscribe button to not miss any updates!!</h5>
                
                
                <div class="input-group mb-3 mt-5">
  <input type="email" class="form-control" placeholder="Enter your email address" aria-label="Recipient's username" aria-describedby="button-addon2">
  <div class="input-group-append mb-5">
    <button class="btn btn-outline-secondary bgcolor" type="button" id="button-addon2" style="background-color:hotpink">Subscribe</button>
  </div>
</div>
                
                
                
                </div>
               
               <div class="col-md-2 pt-2 border-bottom border-secondary" style="font-family:Righteous ;"> 
                   <ul style="list-style: none" > USEFUL LINKS
                    
                   
                   <li> <a href="{% url 'doctors' %}" style="font-family: righteous; color: palevioletred;"> Doctors </a></li> 
                   <li> <a href="{% url 'hospitals' %}" style="font-family: righteous; color: palevioletred;"> hospitals </a></li> 
                   <li><a href="{% url 'NGO' %}" style="font-family: righteous; color: palevioletred;"> NGO </a></li> 
                   
                   
                   </ul> </div>
                
               <div class="col-md-2 pt-2 border-bottom border-secondary" style="font-family: Righteous;"> <ul style="list-style: none"> RELATED STUFF
                   
                   <li> <a href="{% url 'index' %}"style="font-family: righteous; color: palevioletred;"> Home </a></li> 
                   <li> <a href="{% url 'aboutus' %}"style="font-family: righteous; color: palevioletred;">about us </a></li> 
                   <li> <a href="{% url 'nnews' %}"style="font-family: righteous; color: palevioletred;"> News and Research </a></li> 
                   </ul> </div>
                
               <div class="col-md-2 pt-2 border-bottom border-secondary" style="font-family:Righteous ;"> 
                <ul style="list-style: none"> TYPES OF CANCER
                   
                   <li> <a href="{% url 'bcancermain' %}" style="font-family: righteous; color: palevioletred;"> Breast Cancer </a></li>
                    <li><a href="{% url 'lcancermain' %}" style="font-family: righteous; color: palevioletred;">  lung Cancer </a></li> 
                   <li> <a href="{% url 'ccancermain' %}" style="font-family: righteous; color: palevioletred;"> Cervical Cancer </a></li> 
                   
                   </ul>
                
                </div>
                
             </div>
            
                 
            </div>




            </div>


</div>

    

    </div>
    
        
        
        
        
        
        
        
            
        
 
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    <script src={%static "js/jquery-3.4.1.min.js" %}> </script>
        <script src={%static "js/bootstrap.bundle.min.js" %}> </script>
        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </body>
    </html>