{% extends 'base2.html' %}

{% block content %}
{% load static %}



<html>
<head>
<title></title>
</head>

<body>
<h1 style="text-align: center;">PICTORIAL RESPRESENTATION OF LUNG CANCER </h1>
<form action="" method="POST" style="margin-left: 250px; margin-top: 50px;">
{% csrf_token %}

 <select name="t1" style="font-family: denk one;">
 
 <option value="Age"> Age</option>
 <option value="Smokes"> Smokes</option>
 <option value="AreaQ"> AreaQ</option>
 <option value="Alkhol"> Alkhol</option>
 <option value="Result"> Result</option>
 


 </select>
 <input type="submit" value="Post" style="background-color: palevioletred; color: white;" class="rounded-pill"/>
</form>
</body>
{% endblock %}

</html>