{% extends 'base.html' %}

{% block content %}


{%load static %}

    <div class="fixed-top">
    
    <div class="row text-white bg-dark">
        <div class="col-md-1"></div> 
        
        
        <div class="col-md-2 border-left border-right pt-3 pb-2 text-center"><i class="icofont-phone text-white"></i> 1800-2000-2001</div>
        <div class="col-md-5"> </div>
        <div class="col-md-1 pt-3 pb-2 border-left border-right"> <a href="" style="text-decoration: none; color: white">Register</a>
            
            </div>
        <div class="col-md-2 pt-3 pb-2 border-right"><a href="" style="text-decoration: none; color: white; border-right"> support@example.com</a>
        
        
        </div>
        
        
    </div>
    
    
    <div class="row" style="background: linear-gradient(white,white)">
    <div class="col-md-12 text-center pt-2 pb-2">
    
        
       <nav class="navbar navbar-expand-lg navbar-light  bg-white" style="background-color: black;">
           <a class="navbar-brand ml-5" href="home.html"> <img width="100" height="50" src={%static "images/logo11.png" %}> <span class="hd1" style="font-family: Denk one;"> Cancer</span><span class="hd2" style="font-family: Denk one;"> Probe</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav m-auto">
      <li class="nav-item active">
          <b> <a class="nav-link ml-5" href="#">Home <span class="sr-only">(current)</span></a></b>
      </li>
      <li class="nav-item active">
          <b> <a class="nav-link ml-5" href="#">About</a></b>
      </li>
      <li class="nav-item active">
          <b> <a class="nav-link ml-5" href="#">Medicines</a> </b>
      </li>
        
        <li class="nav-item active">
            <b> <a class="nav-link ml-5" href="#">Pages <span class="sr-only">(current)</span></a> </b>
      </li>
      <li class="nav-item active">
          <b> <a class="nav-link ml-5" href="#">Contact us</a> </b>
      </li>
      
    
        
      <li class="nav-item dropdown">
       <b> <a class="nav-link dropdown-toggle ml-5" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Doctors
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">surgeon</a>
          <a class="dropdown-item" href="#">radiologist</a>
            <a class="dropdown-item" href="#">oncologist</a> 
        </div>
          </b>
      </li>
    </ul>
      
      <button class="btn btn-secondary btn-lg hov" type="button" style="background-color:#804f9f"> DONATE</button>
      
      
  </div>
</nav> 
        </div>
        </div> </div>
        
    
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        

        
        
        
        

        
    
        <div class="container-fluid" style="background-image: url({%static 'images/dp.jpg' %}); height:650px; width: 1550px; background-repeat: no-repeat;background-size: cover;">
        
            <div class="row">
            <div class="col-md-12"> <h1 style="margin-top:200px; margin-left: 50px; font-size: 100px;">LUNG CANCER</h1></div>
                       
            </div>
    
        
        </div>
        
        <div class="goog" style="background-image: url({%static 'images/back.jpg' %}); height: 950px; opacity: 0.6;">
            <h4 style="color: palevioletred; margin-left: 450px; margin-top: 150px; font-size: 40px;"> WHAT IS LUNG CANCER? </h4>
            
             <div class="" style="font-size: 25px; color: palevioletred;">         
            It is not a hidden fact how dangerous cancer can be. Lung cancer is one of its many variants. Found more commonly among people who like to drink and smoke, or lead an unhealthy life style. The other name for these type of primary lung cancer is lung carcinoma. The growth though, starts from lungs can spread to other parts as well through metasis.
                 
                 <br>
                 <br>
                 
                 The vast majority (85%) of cases of lung cancer are due to long-term tobacco smoking.About 10–15% of cases occur in people who have never smoked.These cases are often caused by a combination of genetic factors and exposure to radon gas, asbestos, second-hand smoke, or other forms of air pollution. 
        
                 
                 
            </div>
            
            <div class="row">
            <div class="col-md-4"style=" margin-top: 50px;">
                
                <div class="card" style="width: 25rem; height: 30rem;">
  
  <div class="card-body crd">
    <h5 class="card-title" style="text-align: center; color:palevioletred;">SYMPTOMS</h5>
    <p class="card-text" style="color:black;">Respiratory symptoms: coughing, coughing up blood, wheezing, or shortness of breath. <br> <br>
      
      Systemic symptoms: weight loss, weakness, fever, or clubbing of the fingernails. <br> <br>
        
        Symptoms due to the cancer mass pressing on adjacent structures: chest pain, bone pain, superior vena cava obstruction, or difficulty swallowing. <br> <br>
        
        If the cancer grows in the airways, it may obstruct airflow, causing breathing difficulties. The obstruction can also lead to accumulation of secretions behind the blockage, and increase the risk of pneumonia.
      
      
      
      
      
      </p>
     </div>
</div>
                
</div>
                
                
                
                
                
                <div class="col-md-4" style="margin-top: 50px;">
                <div class="card" style="width: 25rem; height: 30rem;">
  
  <div class="card-body crd1">
    <h5 class="card-title" style="text-align: center; color:palevioletred"> PREVENTIONS</h5>
    <p class="card-text">Avoidance of risk factors, including smoking and air pollution, is the primary method of prevention. <br> <br>Treatment and long-term outcomes depend on the type of cancer, the stage (degree of spread), and the person's overall health. Most cases are not curable. <br> <br>    Choose a healthy diet with a variety of fruits and vegetables. Food sources of vitamins and nutrients are best. Avoid taking large doses of vitamins in pill form, as they may be harmful. For instance, researchers hoping to reduce the risk of lung cancer in heavy smokers gave them beta carotene supplements. Results showed the supplements actually increased the risk of cancer in smokers.
        </p>
     </div>
</div>
                </div>
                
                
                <div class="col-md-4" style="margin-top: 50px;">
                 <div class="card" style="width: 25rem; height: 30rem;">
  
  <div class="card-body crd2">
    <h5 class="card-title" style="text-align: center; color: palevioletred">TREATMENTS</h5>
    <p class="card-text">
      Lung cancer is treated in several ways, depending on the type of lung cancer and how far it has spread. People with non-small cell lung cancer can be treated with surgery, chemotherapy, radiation therapy, targeted therapy, or a combination of these treatments. People with small cell lung cancer are usually treated with radiation therapy and chemotherapy. <br> <br>

Surgery: An operation where doctors cut out cancer tissue. <br>
Chemotherapy: Using special medicines to shrink or kill the cancer. <br>
Radiation therapy: Using high-energy rays (similar to X-rays) to kill the cancer.<br>
Targeted therapy: Using drugs to block the growth and spread of cancer cells. 
      
      
      
      
      
      
      
      
      
      
      
      </p>
     </div>
</div>
                
                
                
                
                
                
                
                
                
                </div>
            
            
            
            
            
            
            
            
            
            
            </div>
            
            
            
            
            
            
            
            </div>
        
        
        
        
        
        
        
        
        
        
 
           
        
        
        
        
        
        
        
        
        
        
        
        <script src={%static "js/jquery-3.4.1.min.js" %}></script>
        <script src={%static "js/bootstrap.bundle.min.js" %}> </script>
        <script src={%static "js/front.js" %}></script>
    
        
        
        
        {% endblock %}
        
        
        
    
    </body>
</html>